name: Flutter Build APK

on:
  push:
    branches: [ "main" ]

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.16.0'

    - run: flutter pub get
    - run: flutter build apk --debug

    - uses: actions/upload-artifact@v4
      with:
        name: app-debug-apk
        path: build/app/outputs/flutter-apk/app-debug.apk
